.config-container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(62, 104, 189);
    color: white;
}

.config-div{
    height: 15vh;
    width: 100vw;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    flex-direction: row;
    gap: 1rem;
}

.Titulo-config{
    border-bottom: 1px solid black;
    height: 14vh;
    display: flex;
    justify-content: center;
}

.nome-config{
    color: #143788;
    font-family: "Gloock", serif;
    margin-top: 1.9rem;
}

.logo-config{
    height: 14vh;

}

.config1{
    width: 70%;

}

@media only screen and (max-width : 600px) {
    
}